 <div class="footer">
            <div class="container">
                <div class="hidden-xs col-sm-5"><strong>Truyện Full</strong> - <a href="https://truyenfull.vn/"
                        title="Đọc truyện online">Đọc truyện</a> online, <a href="https://truyenfull.vn/"
                        title="Đọc truyện chữ">đọc truyện</a> chữ, <a href="https://truyenfull.vn/"
                        title="Truyện hay">truyện hay</a>. Website luôn cập nhật những bộ <a
                        href="https://truyenfull.vn/danh-sach/truyen-moi/" title="Truyện mới">truyện mới</a> thuộc các
                    thể loại đặc sắc như <a href="https://truyenfull.vn/the-loai/tien-hiep/"
                        title="Truyện tiên hiệp">truyện tiên hiệp</a>, <a
                        href="https://truyenfull.vn/the-loai/kiem-hiep/" title="Truyện kiếm hiệp">truyện kiếm hiệp</a>,
                    hay <a href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Truyện ngôn tình">truyện ngôn
                        tình</a> một cách nhanh nhất. Hỗ trợ mọi thiết bị như di động và máy tính bảng.</div>
                <ul class="col-xs-12 col-sm-7 list-unstyled">
                    <li class="text-right pull-right"><a href="https://truyenfull.vn/contact/"
                            title="Contact">Contact</a> - <a href="https://truyenfull.vn/tos/"
                            title="Terms of Service">ToS</a><a class="backtop" title="Trở lên đầu trang"
                            href="https://truyenfull.vn/#wrap" rel="nofollow" aria-label="Trở về đầu trang"><span
                                class="glyphicon glyphicon-upload"></span></a> </li>
                    <li class="hidden-xs tag-list"><a href="https://truyenfull.vn/12-nu-than/" title="12 nữ thần">12 nữ
                            thần</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-hai/" title="ngôn tình hài">ngôn
                            tình hài</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-sac/"
                            title="ngôn tình sắc">ngôn tình sắc</a> <a
                            href="https://truyenfull.vn/danh-sach/truyen-teen-hay/" title="truyện teen hay">truyện teen
                            hay</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-hay/" title="ngôn tình hay">ngôn
                            tình hay</a> <a href="https://truyenfull.vn/the-loai/dam-my/" title="truyện đam mỹ">truyện
                            đam mỹ</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-sex-ngon-tinh-18/"
                            title="ngôn tình sex">ngôn tình sex</a> <a
                            href="https://truyenfull.vn/the-loai/ngon-tinh/hoan/" title="truyện ngôn tình">truyện ngôn
                            tình</a> <a href="https://truyenfull.vn/the-loai/ngon-tinh/hoan/"
                            title="ngôn tình hoàn">ngôn tình hoàn</a> <a
                            href="https://truyenfull.vn/danh-sach/dam-my-h-van/" title="đam mỹ h">đam mỹ h</a> <a
                            href="https://truyenfull.vn/danh-sach/ngon-tinh-nguoc/" title="ngôn tình ngược">ngôn tình
                            ngược</a> <a href="https://truyenfull.vn/danh-sach/kiem-hiep-hay/"
                            title="truyện kiếm hiệp hay">truyện kiếm hiệp hay</a> <a
                            href="https://truyenfull.vn/danh-sach/tien-hiep-hay/" title="truyện tiên hiệp hay">truyện
                            tiên hiệp hay</a> <a href="https://truyenfull.vn/danh-sach/dam-my-hai/"
                            title="đam mỹ hài">đam mỹ hài</a> <a href="https://truyenfull.vn/danh-sach/ngon-tinh-sung/"
                            title="ngôn tình sủng">ngôn tình sủng</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script async="" src="js/analytics.js"></script>
    <script src="js/mainjs-1207-3.js"></script><noscript></noscript>
  </noscript>