<div id="wrap">
    {{> header }}
    <div class="container chapter">
        <div class="row">
            <div class="col-xs-12"><button type="button" class="btn btn-responsive btn-success toggle-nav-open"><span
                        class="glyphicon glyphicon-menu-up"></span></button><a class="truyen-title"
                    href="https://truyenfull.vn/linh-vu-thien-ha/" title="Linh Vũ Thiên Hạ">Linh Vũ Thiên Hạ</a>
                <h2><a class="chapter-title" href="https://truyenfull.vn/linh-vu-thien-ha/chuong-1/"
                        title="Linh Vũ Thiên Hạ - Chương 1: Nhân phẩm có vấn đề (1)"><span
                            class="chapter-text"><span>Chương
                            </span></span>1: Nhân phẩm có vấn đề (1)</a></h2>
                <hr class="chapter-start">
                <div class="chapter-nav" id="chapter-nav-top"><input type="hidden" id="ten-truyen"
                        value="linh-vu-thien-ha"><input type="hidden" id="truyen-comment"
                        value="linh-vu-thien-ha"><input type="hidden" id="truyen-id" value="2650"><input type="hidden"
                        id="chapter-id" value="483173"><input type="hidden" id="chapter-bnum" value=""><input
                        type="hidden" id="chapter-num" value="1"><input type="hidden" id="chapter-sac" value="0">
                    <div class="btn-group"><a class="btn btn-success disabled" href="javascript:void(0)"
                            title="Không có chương trước" id="prev_chap" data-cid=""><span
                                class="glyphicon glyphicon-chevron-left"></span> <span class="hidden-xs">Chương
                            </span>trước</a><button type="button" class="btn btn-success chapter_jump"><span
                                class="glyphicon glyphicon-list-alt"></span></button><a class="btn btn-success"
                            href="https://truyenfull.vn/linh-vu-thien-ha/chuong-2/" title="Chương 2" id="next_chap"
                            data-cid="483174"><span class="hidden-xs">Chương </span>tiếp <span
                                class="glyphicon glyphicon-chevron-right"></span></a></div>
                </div>
                <hr class="chapter-end">
                 {{{ content }}}
            </div>
            <hr class="chapter-end">
            <div class="chapter-nav" id="chapter-nav-bot">
                <div class="btn-group"><a class="btn btn-success disabled" href="javascript:void(0)"
                        title="Không có chương trước" id="prev_chap" data-cid=""><span
                            class="glyphicon glyphicon-chevron-left"></span> <span class="hidden-xs">Chương
                        </span>trước</a><button type="button" class="btn btn-success chapter_jump"><span
                            class="glyphicon glyphicon-list-alt"></span></button><a class="btn btn-success"
                        href="https://truyenfull.vn/linh-vu-thien-ha/chuong-2/" title="Chương 2" id="next_chap"
                        data-cid="483174"><span class="hidden-xs">Chương </span>tiếp <span
                            class="glyphicon glyphicon-chevron-right"></span></a></div>
                <div class="text-center"><button type="button" class="btn btn-warning" id="chapter_error"><span
                            class="glyphicon glyphicon-flag"></span> Báo lỗi chương</button><button type="button"
                        class="btn btn-info" id="chapter_comment"><span class="glyphicon glyphicon-comment"></span>
                        Bình
                        luận</button></div>
                <div class="bg-info text-center visible-md visible-lg box-notice">Bạn có thể dùng phím mũi tên hoặc
                    WASD
                    để lùi/sang chương.</div>
                <div class="col-xs-12">
                    <div class="row" id="fb-comment-chapter"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{{> footer }}