<div id="wrap">
    {{> header }}
    <div class="container csstransforms3d" id="truyen">
        <div class="col-xs-12 col-sm-12 col-md-9 col-truyen-main">
            <div class="col-xs-12 col-info-desc" itemscope="" itemtype="https://schema.org/Book">
                <div class="title-list book-intro">
                    <h2>Thông tin truyện</h2>
                </div>
                <h3 class="title" itemprop="name">Boss Hung Dữ - Ông Xã Kết Hôn Đi</h3>
                <div class="col-xs-12 col-sm-4 col-md-4 info-holder">
                    <div class="books">
                        <div class="book"><img
                                src="https://cdnaz.truyenfull.vn/cover/eJwFwceWbEAAANAvcl7LbfEWI7ZqObNxaK2kYkrm6-feoaH_bcRbvnRygI9rC28bw0yk0xkkmxMBipd7YtL5g7VfX_9-js-oyRn0puwk2UqXw-WwWZHjwYWABPOVt46tDzWN8h3zwrVk18YJazmFiJseNoi8nqzLzzxh0lIoAAu1qIM44AfC1yIVTgxgPqIm7aXA37y3iEDSX-EZDR10nTqLc4i01tSwovWhn1fUyRoflT2afniiU8yLN1KS9VZGTM20mxxQ4h2SsrGwuYKj6z-oo4_Au9IzoLuGnYvmTVg9hA3NriLFTjls3dGPTkvwGFBNh46PB_17gHszrMHfvwm7OXFoJ4xGBFXGz-LoNmDSPVVeRWYgeZXBenwCHTILcINMQDGiVsNZVv39GJlhfCEZcfXPdqxZGVpVh3sz7t250KRy_wjrEX-xg7JB2IsT8UWr4I8XIU9MCiqeHrcaIfYnD6ZGF-77xGE1I_vk5SLTpBaO1d7T7k5FYkTiZzfTTpDXTTDMF-MZRcTmmFhGm_NlQHFIbDnCJItUZmMUt5XEX8fFhW5om0s2ntj4MnzWaP7Y9wYsLAsTv5a4pwPZtJ6jV9-jU9D7M2hNiSlaZnxCN-n6FAvcmgM-hTpMlw0878rIL6COpuG8hGaan8BzNMYRQWjzVh3Nx5m8Js_tjlySO32NLEfxQxDAwXnVbvbmstOSzLKklyRMUkFMzWovxir9f1AkSzQ0Rf0BixnskA==/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full.jpg"
                                alt="Boss Hung Dữ - Ông Xã Kết Hôn Đi" itemprop="image"></div>
                    </div>
                    <div class="info">
                        <div>
                            <h3>Tác giả:</h3><a itemprop="author" href="https://truyenfull.vn/tac-gia/thap-nguyet-so/"
                                title="Thập Nguyệt Sơ">Thập Nguyệt Sơ</a>
                        </div>
                        <div>
                            <h3>Thể loại:</h3><a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/"
                                title="Ngôn Tình">Ngôn Tình</a>
                        </div>
                        <div>
                            <h3>Nguồn:</h3><span class="source">Thích Đọc Truyện</span>
                        </div>
                        <div>
                            <h3>Trạng thái:</h3><span class="text-success">Full</span>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8 desc">
                    <div class="rate">
                        <div class="rate-holder" data-score="8.4" style="cursor: pointer;"><img alt="1"
                                src="//cdnaz.truyenfull.vn/lib/raty/images/star-on.png"
                                title="Không còn gì để nói...">&nbsp;<img alt="2"
                                src="//cdnaz.truyenfull.vn/lib/raty/images/star-on.png" title="WTF">&nbsp;<img alt="3"
                                src="//cdnaz.truyenfull.vn/lib/raty/images/star-on.png"
                                title="Cái gì thế này ?!">&nbsp;<img alt="4"
                                src="//cdnaz.truyenfull.vn/lib/raty/images/star-on.png" title="Haizz">&nbsp;<img alt="5"
                                src="//cdnaz.truyenfull.vn/lib/raty/images/star-on.png" title="Tạm">&nbsp;<img alt="6"
                                src="//cdnaz.truyenfull.vn/lib/raty/images/star-on.png" title="Cũng được">&nbsp;<img
                                alt="7" src="//cdnaz.truyenfull.vn/lib/raty/images/star-on.png"
                                title="Khá đấy">&nbsp;<img alt="8"
                                src="//cdnaz.truyenfull.vn/lib/raty/images/star-on.png" title="Được">&nbsp;<img alt="9"
                                src="//cdnaz.truyenfull.vn/lib/raty/images/star-half.png" title="Hay">&nbsp;<img
                                alt="10" src="//cdnaz.truyenfull.vn/lib/raty/images/star-off.png"
                                title="Tuyệt đỉnh!"><input name="score" type="hidden" value="8.4"></div><em
                            class="rate-text"></em>
                        <div class="small" itemprop="aggregateRating" itemscope=""
                            itemtype="https://schema.org/AggregateRating"><em>Đánh giá: <strong><span
                                        itemprop="ratingValue">8.4</span></strong>/<span class="text-muted"
                                    itemprop="bestRating">10</span> từ <strong><span itemprop="ratingCount">5947</span>
                                    lượt</strong></em></div>
                    </div>
                    <div class="desc-text desc-text-full" itemprop="description">Sau một đêm kích tình, cô đã thành công
                        khi
                        trèo lên giường của Nhạc Thính Phong, kim cương lão ngũ nổi tiếng toàn quốc.<br><br>Cô đã trả
                        được
                        thù còn anh sau một đêm lại luôn nhớ đến cô.<br><br>Ba năm sau, khi gặp cô trong thang máy, anh
                        đã
                        nói:" Nếu ngủ với tôi một đêm, vai diễn xxx sẽ thuộc về cô"<br><br>" Ngủ với tôi 2 đêm tôi sẽ
                        giúp
                        cô giải quyết được đám cặn bã kia "..." Ngủ với tôi "..." Nhạc Thính Phong "Anh hết trò rồi hả?"
                    </div>
                    <div class="showmore"><a class="btn btn-default btn-xs hide" href="javascript:void(0)"
                            title="Xem thêm">Xem thêm »</a></div>
                </div>
            </div>
            <div class="col-xs-12 text-center no-padding">
                <div class="hidden-xs hidden-sm hidden-md desktop-ads">
                    <div class="ads-780-90" id="ads-780-90-story-1">
                        <div id="adtrue_tag_8698"></div>
                        <script src="//cdn.adtrue.com/rtb/async.js"></script>
                        <script>var adtrue_tags = window.adtrue_tags || []; adtrue_tags.push({ tag_id: 8698, width: 728, height: 90 });</script>
                    </div>
                </div>
                <div class="hidden-lg text-center w320 ads-320-100-backup-2" id="ads-320-100-backup-2"></div>
            </div>
            <div class="col-xs-12" id="list-chapter">
                <div class="title-list">
                    <h2>Danh sách chương</h2>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ul class="list-chapter">
                            <li><span class="glyphicon glyphicon-certificate"></span> <a
                                    href="https://truyenfull.vn/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full/chuong-1/"
                                    title="Chương 1: Cô dám chơi tôi, tôi liền lên giường với người đàn ông của cô (1)"><span
                                        class="chapter-text"><span>Chương </span></span>1: Cô dám chơi tôi, tôi liền lên
                                    giường với người đàn ông của cô (1)</a></li>
                        </ul>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6">
                        <ul class="list-chapter">
                            <li><span class="glyphicon glyphicon-certificate"></span> <a
                                    href="https://truyenfull.vn/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full/chuong-26/"
                                    title="Chương 26: Trong lòng hắn tôi chỉ là con đĩ mà thôi! (2)"><span
                                        class="chapter-text"><span>Chương </span></span>26: Trong lòng hắn tôi chỉ là
                                    con đĩ
                                    mà thôi! (2)</a></li>
                        </ul>
                    </div>
                </div><input id="truyen-id" type="hidden" value="10880"><input id="total-page" type="hidden"
                    value="40"><input id="truyen-ascii" type="hidden"
                    value="ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full"><input id="truyen-comment" type="hidden"
                    value="boss-hung-du-ong-xa-ket-hon-di">
                <ul class="pagination pagination-sm">
                    <li class="active"><span>1<span class="sr-only"> (đang xem)</span></span></li>
                    <li><a href="https://truyenfull.vn/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full/trang-2/#list-chapter"
                            title="Boss Hung Dữ - Ông Xã Kết Hôn Đi - Trang 2">2</a></li>
                    <li><a href="https://truyenfull.vn/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full/trang-3/#list-chapter"
                            title="Boss Hung Dữ - Ông Xã Kết Hôn Đi - Trang 3">3</a></li>
                    <li><a href="https://truyenfull.vn/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full/trang-4/#list-chapter"
                            title="Boss Hung Dữ - Ông Xã Kết Hôn Đi - Trang 4">4</a></li>
                    <li><a href="https://truyenfull.vn/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full/trang-6/#list-chapter"
                            title="Boss Hung Dữ - Ông Xã Kết Hôn Đi - Trang 6">6</a></li>
                    <li><a href="https://truyenfull.vn/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full/trang-11/#list-chapter"
                            title="Boss Hung Dữ - Ông Xã Kết Hôn Đi - Trang 11">11</a></li>
                    <li><a href="https://truyenfull.vn/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full/trang-2/#list-chapter"
                            title="Boss Hung Dữ - Ông Xã Kết Hôn Đi - Trang 2"><span class="sr-only">Trang
                                tiếp</span><span class="glyphicon glyphicon-menu-right"></span></a></li>
                    <li><a href="https://truyenfull.vn/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full/trang-40/#list-chapter"
                            title="Boss Hung Dữ - Ông Xã Kết Hôn Đi - Trang 40">Cuối <span class="arrow">»</span></a>
                    </li>
                    <li class="dropup page-nav"><a href="javascript:void(0)" data-toggle="dropdown">Chọn trang <span
                                class="caret"></span></a>
                        <div class="dropdown-menu dropdown-menu-right" role="menu">
                            <form action="." name="page_jump" id="page_jump" method="get">
                                <div class="input-group">
                                    <input name="page_type" type="hidden" value="">
                                    <input name="truyen" type="hidden"
                                        value="ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full">
                                    <input name="filter" type="hidden" value="">
                                    <input class="form-control" name="page" type="number" placeholder="Số trang..."
                                        value="">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="submit">Đi</button>
                                    </span>
                                </div>
                            </form>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="visible-md-block visible-lg-block col-md-3 text-center col-truyen-side">
            <div class="list list-truyen col-xs-12">
                <div class="title-list">
                    <h4>Truyện cùng tác giả</h4>
                </div>
                <div class="row" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12"><span class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/cuc-sung-de-nhat-phu-nhan/"
                                title="Cực Sủng Đệ Nhất Phu Nhân" itemprop="url">Cực Sủng Đệ Nhất Phu Nhân</a></h3>
                    </div>
                </div>
                <div class="row" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12"><span class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a
                                href="https://truyenfull.vn/truyen-ngon-tinh-boss-hung-du-2-ca-doi-chi-vi-em/"
                                title="Boss Hung Dữ 2 - Cả Đời Chỉ Vì Em" itemprop="url">Boss Hung Dữ 2 - Cả Đời Chỉ Vì
                                Em</a></h3>
                    </div>
                </div>
                <div class="row" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12"><span class="glyphicon glyphicon-chevron-right"></span>
                        <h3 itemprop="name"><a href="https://truyenfull.vn/cam-nang-sinh-ton-gian-phi/"
                                title="Cẩm Nang Sinh Tồn Gian Phi" itemprop="url">Cẩm Nang Sinh Tồn Gian Phi</a></h3>
                    </div>
                </div>
            </div>
            <div class="list list-truyen list-side col-xs-12">
                <div class="title-list">
                    <h4>Truyện đang hot</h4>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-1">1</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a
                                    href="https://truyenfull.vn/doc-truyen-choc-tuc-vo-yeu-mua-mot-tang-mot-full/"
                                    title="Chọc Tức Vợ Yêu - Mua Một Tặng Một" itemprop="url">Chọc Tức Vợ Yêu - Mua Một
                                    Tặng
                                    Một</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn
                                Tình</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/hai-huoc/"
                                title="Hài Hước">Hài Hước</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/sung/" title="Sủng">Sủng</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-2">2</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/doc-ton-tam-gioi/"
                                    title="Độc Tôn Tam Giới" itemprop="url">Độc Tôn Tam Giới</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Huyền Huyễn">Huyền Huyễn</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-3">3</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a
                                    href="https://truyenfull.vn/ngon-tinh-boss-hung-du-ong-xa-ket-hon-di-full/"
                                    title="Boss Hung Dữ - Ông Xã Kết Hôn Đi" itemprop="url">Boss Hung Dữ - Ông Xã Kết
                                    Hôn
                                    Đi</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn
                                Tình</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-4">4</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/linh-vu-thien-ha/"
                                    title="Linh Vũ Thiên Hạ" itemprop="url">Linh Vũ Thiên Hạ</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/di-gioi/"
                                title="Dị Giới">Dị Giới</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-5">5</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a
                                    href="https://truyenfull.vn/yeu-sau-nang-de-thieu-am-tham-cung-chieu-vo/"
                                    title="Yêu Sâu Nặng: Đế Thiếu Âm Thầm Cưng Chiều Vợ" itemprop="url">Yêu Sâu Nặng: Đế
                                    Thiếu Âm Thầm Cưng Chiều Vợ</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn
                                Tình</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/sung/"
                                title="Sủng">Sủng</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-6">6</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/ngon-tinh-boss-la-nu-phu-full/"
                                    title="Boss Là Nữ Phụ" itemprop="url">Boss Là Nữ Phụ</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/ngon-tinh/" title="Ngôn Tình">Ngôn
                                Tình</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/di-gioi/"
                                title="Dị Giới">Dị Giới</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-7">7</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/thi-thien-dao/" title="Thí Thiên Đao"
                                    itemprop="url">Thí Thiên Đao</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Huyền Huyễn">Huyền Huyễn</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-8">8</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/huyen-thien-hon-ton/"
                                    title="Huyền Thiên Hồn Tôn" itemprop="url">Huyền Thiên Hồn Tôn</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Huyền Huyễn">Huyền Huyễn</a></div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-9">9</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/truyen-thien-dao-do-thu-quan/"
                                    title="Thiên Đạo Đồ Thư Quán" itemprop="url">Thiên Đạo Đồ Thư Quán</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/di-gioi/"
                                title="Dị Giới">Dị Giới</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/huyen-huyen/" title="Huyền Huyễn">Huyền Huyễn</a>
                        </div>
                    </div>
                </div>
                <div class="row top-item" itemscope="" itemtype="https://schema.org/Book">
                    <div class="col-xs-12">
                        <div class="top-num top-10">10</div>
                        <div class="s-title">
                            <h3 itemprop="name"><a href="https://truyenfull.vn/ma-dao-to-su/" title="Ma Đạo Tổ Sư"
                                    itemprop="url">Ma Đạo Tổ Sư</a></h3>
                        </div>
                        <div><a itemprop="genre" href="https://truyenfull.vn/the-loai/tien-hiep/" title="Tiên Hiệp">Tiên
                                Hiệp</a>, <a itemprop="genre" href="https://truyenfull.vn/the-loai/huyen-huyen/"
                                title="Huyền Huyễn">Huyền Huyễn</a>, <a itemprop="genre"
                                href="https://truyenfull.vn/the-loai/trong-sinh/" title="Trọng Sinh">Trọng Sinh</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ads-300-250 desktop-ads" id="story-ads-300-250">
                <div id="adtrue_tag_8699"></div>
                <script src="//cdn.adtrue.com/rtb/async.js"></script>
                <script>var adtrue_tags = window.adtrue_tags || []; adtrue_tags.push({ tag_id: 8699, width: 300, height: 250 });</script>
            </div>
        </div>
    </div>
    {{> footer }}