<h3>{{viewTitle}}</h3>


<form autocomplete="off" action="/truyen">
	<div class="form-group">
		<label>
			Tên truyện
		</label>
		<input type="text" class="form-control" name="tenTruyen" placeholder="Tên Truyện">
	</div>
	<div class="form-group">
		<label>
			Url truyện
		</label>
		<input type="text" class="form-control" name="urlTruyen" placeholder="Url truyện">
	</div>
	<div class="form-group">
		<label>
		    Số chương
		</label>
		<input type="text" class="form-control" name="soChuong" placeholder="Số Chương">
	</div>
	<div class="form-group">
		<label>
			Trạng thái
		</label>
		<input type="text" class="form-control" name="trangThai" placeholder="Trạng Thái">
	</div>
	<div class="form-group">
		<label>
			Url hình
		</label>
		<input type="text" class="form-control" name="urlHinh" placeholder="Url Hình">
	</div>
	<div class="form-group">
		<button type="submit" class="btn btn-info"><i class="fa fa-database"></i>submit</button>
	</div>
</form>